In [14]:
# 1. 파일 불러오기

import pandas as pd

creatures = pd.read_csv("./creatures.csv")
environments = pd.read_csv("./environment.csv")

print(creatures)

   id    species  weight  height  age
0   1     Lumina      50     120    5
1   2     Glimix      80     140    8
2   3  Orbitalon      30     110    2
3   4     Glimix      85     145    9
4   5     Lumina      55     125    6
5   6  Shadowine     100     160   15
6   7  Orbitalon      28     115    3
7   8     Lumina      53     122    4
8   9     Glimix      77     135    7
9  10  Shadowine     105     155   14

In [15]:
print(environments)

   id  temperature  humidity   habitat
0   1           22        60    Forest
1   2           35        20    Desert
2   3           15        80  Mountain
3   4           25        65    Forest
4   5           10        90     Swamp
5   6           28        50    Forest
6   7           15        85  Mountain
7   8           20        75     Swamp
8   9           30        40    Desert
9  10           18        70  Mountain

In [7]:
# 2. 평균 몸무게와 키를 종류 별로 계산

avg_weight_height = creatures.groupby('species')[['weight', 'height']].mean()
print("평균 몸무게와 키 :")
print(avg_weight_height)

평균 몸무게와 키 :
               weight      height
species
Glimix      80.666667  140.000000
Lumina      52.666667  122.333333
Orbitalon   29.000000  112.500000
Shadowine  102.500000  157.500000

In [20]:
# 3. 종류 별 나이의 중앙값

median_age = creatures.groupby('species')['age'].median()
print("종류 별 나이 중앙값 :")
print(median_age)

종류 별 나이 중앙값 :
species
Glimix        8.0
Lumina        5.0
Orbitalon     2.5
Shadowine    14.5
Name: age, dtype: float64

In [9]:
# 4. 나이 내림차순 정렬

sorted_by_age = creatures.sort_values(by='age', ascending=False)
print("가장 나이가 많은 생물 :")
print(sorted_by_age[['species', 'weight', 'height', 'age']].iloc[0])

가장 나이가 많은 생물 :
species    Shadowine
weight           100
height           160
age               15
Name: 5, dtype: object

In [10]:
# 5. 두 데이터를 id 기준으로 병합

merged_df = pd.merge(creatures, environments, on='id')
merged_df

   id    species  weight  height  age  temperature  humidity   habitat
0   1     Lumina      50     120    5           22        60    Forest
1   2     Glimix      80     140    8           35        20    Desert
2   3  Orbitalon      30     110    2           15        80  Mountain
3   4     Glimix      85     145    9           25        65    Forest
4   5     Lumina      55     125    6           10        90     Swamp
5   6  Shadowine     100     160   15           28        50    Forest
6   7  Orbitalon      28     115    3           15        85  Mountain
7   8     Lumina      53     122    4           20        75     Swamp
8   9     Glimix      77     135    7           30        40    Desert
9  10  Shadowine     105     155   14           18        70  Mountain

In [21]:
# 6. 서식지 별 평균 몸무게와 키 계산

avg_habitat_w_h = merged_df.groupby('habitat')[['weight', 'height']].mean()
print("서식지 별 평균 몸무게와 키")
print(avg_habitat_w_h)

서식지 별 평균 몸무게와 키
             weight      height
habitat
Desert    78.500000  137.500000
Forest    78.333333  141.666667
Mountain  54.333333  126.666667
Swamp     54.000000  123.500000

In [22]:
# 7. 습도와 체중 간의 상관계수

humidity_weight_corr = merged_df['humidity'].corr(merged_df['weight'])
print("습도와 체중 간의 상관계수 :")
print(humidity_weight_corr)

습도와 체중 간의 상관계수 :
-0.534546293489005

In [18]:
# 8. height / weight 비율 중 가장 높은 생물 정보 출력

merged_df['ratio'] = merged_df['height'] / merged_df['weight']
max_ratio_info = merged_df.loc[merged_df['ratio'].idxmax()]
print("height / weight 비율이 가장 높은 생물 :")
print(max_ratio_info[['species', 'weight', 'height', 'age', 'ratio']])

height / weight 비율이 가장 높은 생물 :
species    Orbitalon
weight            28
height           115
age                3
ratio       4.107143
Name: 6, dtype: object

In [23]:
# 9. 온도를 기준으로 그룹 나누기 [0 ~ 14 / 15 ~ 29 / 30 이상]

def temp_group(temp):
    if temp <= 14:
        return '0~14°C'
    elif temp <= 29:
        return '15~29°C'
    else:
        return '30°C 이상'
    
merged_df['temp_group'] = merged_df['temperature'].apply(temp_group)

avg_by_temp_group = merged_df.groupby('temp_group')[['weight', 'height']].mean()
print("기온 그룹별 평균 몸무게와 키 :")
print(avg_by_temp_group)

기온 그룹별 평균 몸무게와 키 :
               weight      height
temp_group
0~14°C      55.000000  125.000000
15~29°C     64.428571  132.428571
30°C 이상     78.500000  137.500000